@import "tailwindcss";

@layer base {
  :root {
    --background: #050816;
    --foreground: #ffffff;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@theme inline {
  --color-primary: #050816;
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;
}

@layer components {
  .violet-gradient {
    width: 4px !important;
    height: 320px !important;
    background: linear-gradient(
      to bottom,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%
    ) !important;
  }
}
