@import "tailwindcss";

@layer base {
  :root {
    --background: #050816;
    --foreground: #ffffff;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@theme inline {
  --color-primary: #050816;
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;
}

@layer components {
  .violet-gradient {
    width: 4px !important;
    height: 320px !important;
    background: linear-gradient(
      to bottom,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%
    ) !important;
  }
}

.blue-text-gradient {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #38ef7d, #11998e);
  background: linear-gradient(to top, #38ef7d, #11998e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fc6767, #ec008c);
  background: linear-gradient(to top, #fc6767, #ec008c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
